# =========================
# Eclipse
# =========================
.project
.classpath
.settings/

# =========================
# Java build outputs
# =========================
bin/
target/
build/
*.class

# =========================
# Logs
# =========================
*.log

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db

# =========================
# Temporary / backup
# =========================
*~
*.swp
*.tmp
